<!DOCTYPE html>
<html>
<head>
    <title>Government Location Service</title>
</head>
<body>
    <header>
        <h1>Government Location Service</h1>
    </header>
    <main>
        <form>
            <label for='postcode'>Enter Postcode:</label>
            <input name='postcode' placeholder='Type postcode here'></input>
            <input type='submit' value='Submit'>
        </form>
    </main>
    <footer>
        <p>&copy; 2023 Government Location Service. All rights reserved.</p>
    </footer>
</body>
</html>
